# Ignore node_modules or other true vendor files
node_modules/** linguist-vendored

# Let ExpressJS files count as JavaScript
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.mjs linguist-language=JavaScript

# Optional: ensure EJS is recognized as EJS
*.ejs linguist-language=EJS

# F# files
*.fs linguist-language=F#
*.fsx linguist-language=F#
