<%- include('./partials/header.ejs')%>

     <main class="content container-fluid d-flex  justify-content-center align-items-center my-4">
        <div class="p-5 bg-light rounded shadow" style="min-width: 300px;">
            <h3> About UNCC behavioral group therapies</h3>
            <br>

            <p>
                Healthcare group therapy involves a mental health professional leading multiple patients with similar challenges to provide mutual support, insight, and coping skills for conditions like anxiety, depression, and trauma. Benefits include feeling less lonely, learning new skills, and gaining empowerment through shared experiences. Common types include interpersonal groups, which focus on social dynamics, and cognitive behavioral therapy (CBT) groups, which reframe negative thoughts. Groups can be delivered in-person or via telehealth, and coverage is often similar to individual therapy.
            </p>
            <p>
               Check out the Groups section to browse available group therapies!
             </p>
        </div>
    </main>

<%- include('./partials/footer.ejs')%>